.blog-layout {
    grid-template-areas:
        "header  header header header"
        "main    main   main   sidebar"
        "footer  footer footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.post {
    padding: 10px;
    margin: 10px;
    background-color: cornsilk;
    border-radius: 10px;
}

.about-box,
.links {
    padding: 10px;
    margin: 10px;
    background-color:whitesmoke;
    border-radius: 10px;
    color: black;
}
